body{margin:0;padding:0;
  width: 100%;
  margin:0 auto;
}
.wrapper{
  max-width:640px;
  min-width:320px;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}
.main_body{
  position: relative;
  height: 100%;
  z-index: 1;
}
.main_body #kava, .main_body #wifi{
  position: absolute;
  width: 100%;
  margin: 0 0;
}
.main_body #kava{
  top: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #3b4a69, #3b4e6e);
}

.swipeUp #kava {
  filter: blur(3px);
}

.swipeDown #kava {
    filter: blur(0px);
}


.main_body #kava img, .main_body #wifi img{
  display: list-item;
  margin: 0 auto;
}
.main_body #kava img:nth-child(1){
  margin-top: 20px;
}
.main_body #kava img:nth-child(2){
  margin:10px auto;
}

.main_body #wifi #arrow{
  display: block;
  margin: -66px auto 0;
  max-width: 113px;
  height: 62px;
  transition: background-image 0.5s ease-in-out;
  background:transparent url("img/4.png") no-repeat top center;
  animation: blinker 2s linear infinite;
}
.main_body #wifi{
  background: #D7DADF;
  bottom: -150px;
  height: auto;
  border-radius: 8% 8% 0 0;
}
/**/
.main_body #wifi.swipeUp, .swipeUp #wifi{
  bottom: 0px;
}

#wifi {
  transition: .6s;
}
.swipeDown #wifi{
  bottom: -150px;
}

/**/
.main_body #wifi:hover{
  bottom: 0px;
  transition: .6s;
}
.main_body #wifi:not(:hover){
  transition: .6s;
}
.main_body #wifi:hover #arrow, .swipeUp #arrow{
  background-image:url("img/4_1.png") !important;
  height: 22px !important;
  margin: -6% auto 0 !important;
  animation: none !important;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.main_body #wifi>img{
  margin-top: 5%;
}